* {
  /* left: 0;
  right: 0; */
  margin: 0;
  padding: 0;
}

.rootGroup {
  /* transform-box: fill-box;
  transform-origin: center center; */
}

.chartContainer {
  transform-box: fill-box;
}

.controller {
  cursor: move;
  transform-box: fill-box;
}

.helper:nth-of-type(1) {
  cursor: nw-resize;
}

.helper:nth-of-type(2), .helper:nth-of-type(7) {
  cursor: n-resize;
}

.helper:nth-of-type(3) {
  cursor: ne-resize;
}

.helper:nth-of-type(6) {
  cursor: sw-resize;
}

.helper:nth-of-type(8) {
  cursor: se-resize;
}

.helper:nth-of-type(4), .helper:nth-of-type(5) {
  cursor: w-resize;
}

.helper:last-of-type {
  cursor: grabbing;
  fill: #6cf;
}

@keyframes gradientInFocus {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 2;
  }
}

.gradientController {
  animation: gradientInFocus 1s linear infinite;
}

circle.gradientController {
  cursor: grab;
}

circle.gradientController:active {
  cursor: grabbing;
}


@keyframes dispersedInFocus {
  from {
    outline-color: #f6c
  }

  to {
    outline-color: #6cf
  }
}

.dispersedController {
  outline: 4px black dotted;
  z-index: 1;
  animation: dispersedInFocus 1s linear infinite alternate;
}